.backdrop {
    background-color: rgba(0, 0, 0, 0.75);
    height: 100vh;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.modal {
    width: 90%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 175%);
    background-color: rgb(245, 223, 190);
    padding: 1rem;
    box-shadow: 0px 0px 40px 0px;
    border-radius: 5px;
    z-index: 30;
}

.btn-close {
    background-color: transparent;
    padding: 5px 10px;
    height: auto;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.btn-close:hover {
    opacity: 0.7;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: darkblue;
    color: white;
    border-radius: 5px;
}

.header h2 {
    font-size: 2rem;

}

.rating-wrapper {
    margin-top: -5px;
    width: 100%;
}

.comment-wrapper textarea {
    margin-top: 10px;
    width: 95%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5;
    outline: none;
    padding: 6px 12px;
    background-color: rgb(239, 228, 212);
    border-radius: 5px;
}

.form-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-top: 15px;
}

.form-input {
    padding-left: 5px;
    width: 100%;
    font-size: 1.5rem;
}

.form-actions {
    display: flex;
    justify-content: end;
}

.btn-add {
    width: 100px;
    height: 50px;
    font-size: 1.25rem;
    background-color: darkblue;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.btn-add:hover {
    opacity: 0.7;
}

.full {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: orange;
}

.empty {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: grey;
}

.star {
    font-size: 1.65rem;
    margin-left: -8px;
}

.star-name {
    font-size: 2rem;
    color: black;
}

.error-msg {
    margin: 0 5px 10px;
    color: red;
    font-size: 1rem;
}

@media screen and (min-width:768px) {
    .modal {
        width: 690px;
        transform: translate(-50%, 75%);
    }

    .star {
        font-size: 2.5rem;
    }

    .star-name {
        font-size: 2.5rem;
    }
}

@media screen and (min-width:1000px) {
    .modal {
        transform: translate(-50%, 50%);
    }

    .rating-wrapper {
        margin-top: -10px;
    }
}